@using Domain
@model MyData.Models.TermEditVM

<style>
    .ace_editor {
    margin: 0px;
    padding: 10px;
    min-height:200px;
}
</style>
<div>
    @using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(x => x.Question)
            @Html.HiddenFor(x => x.Question)
            <p><pre id="editor" ></pre></p>
        </div>

        <div>
            @Html.LabelFor(x => x.Answer)
            <p>@Html.TextAreaFor(x => x.Answer, new { @class = "form-control", autofocus = "" })</p>
        </div>

        <div>
            @Html.LabelFor(x => x.SetID)
            <p>@Html.DropDownListFor(x => x.SetID, Model.Sets, null, new { @class = "form-control" })</p>
        </div>
    }
</div>

@Scripts.Render("~/bundles/ace")
<script type="text/javascript">
    var helper = as.ace.init({ el: "editor", readonly: true });
    helper.editor.focus();
    helper.autoCopyText("#Question");
</script>